vpass
.vagrant
*.log
logs
.galaxy_install_info
.vscode
.idea
*.deb
*.vdi
*.tar
*.pyc
**/local_stuff.yml
roles/external/ansible-thoteam.nexus3-oss/target/*
roles/external/ansible-thoteam.nexus3-oss/.*
.ca
ansible_collections/community/crypto
ansible_collections/community/general
